body,
html {

  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
   background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
  font-size: 3rem ;
  color: #6cc02c;
}
hr {
  border-color: red;
  border-width: 3px;
  border-spacing: 1px;
  max-width: 65px;

}
.buffer{
  height: 5rem;

}
.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}
  .btn-primary {
    background-color: #ea3f2e;
    border-color: #ea3f2e;

  
}
.btn-primary:hover {
  background-color: darkred;
  border-width: 5px ;

}

.btn-xl{
  padding: 1rem 2rem;
}